<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>mi primer html</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/public/css/normalize.css">
</head>
<body>

    <article class="contenedor01"> 
        <h2>algo corto</h2>
        <p>
        Lorem ipsum dolor sit amet  adipisicing elit. Nesciunt 
        voluptatibus quia, esse quaerat ducimus autem.
        Accusantium nobis aspernatur 
        beatae blanditiis eligendi aperiam, maxime facilis eveniet,
        soluta minima recusandae. Sed, perferendis!</p>
        <p>
        Lorem ipsum dolor sit amet  adipisicing elit. Nesciunt 
        voluptatibus quia, esse quaerat ducimus autem.
        Accusantium nobis aspernatur 
        beatae blanditiis eligendi aperiam, maxime facilis eveniet,
        soluta minima recusandae. Sed, perferendis!</p>
         <p>
        Lorem ipsum dolor sit amet  adipisicing elit. Nesciunt 
        voluptatibus quia, esse quaerat ducimus autem.
        Accusantium nobis aspernatur 
        beatae blanditiis eligendi aperiam, maxime facilis eveniet,
        soluta minima recusandae. Sed, perferendis!</p>
    
    </article>


    
</body>
</html>