*{
    box-sizing: border-box;
}


.contenedor01{
   width: 90%;
   padding: 20px;
   border: solid 5px black ;
   background-color:salmon;
   margin: auto;
}

@media( min-width: 570px){
    .contenedor01{
 
        border: solid 5px salmon ;
        background-color:black;
        color: white;
            }
 
}


